<section class="card" [ngClass]="translate.currentLang=='ar'?'right-auth-style':'left-auth-style'">
    <div class="container-fluid card-body ">
        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-12 col-lg-4 col-lg-4 offset-xl-1">
                <form class="master-form" [formGroup]="UserResetPasswordForm">
                    <div class="divider d-flex align-items-center my-4">
                        <label class="form-label mx-3 mb-0" for="form3Example3">

                            {{"FORGETPASSWORDRESET"|translate}}
                            <i class='fa fa-rocket'></i>WE
                        </label>

                        <a class="text-center navbar-brand">
                            <img src="/assets/images/forget-password.png" alt="" width="90" height="1">
                        </a>
                    </div>
                    <!-- phoner input -->
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label" for="form3Example3">{{"ENTERPHONENUMBER"|translate}}</label>
                            <input type="tel" formControlName="Mobile" id="form3Example3"
                                class="form-control form-control-sm" required
                                [ngClass]="{ 'is-invalid': submitted && f['Mobile'].errors }" />

                            <div *ngIf="(submitted && f['Mobile'].errors)" class="invalid-feedback">
                                <div *ngIf="f['Mobile'].errors['required']">

                                    {{"ENTERPHONENUMBER"|translate}}
                                </div>
                                <div *ngIf="f['Mobile'].errors['minlength']">

                                    {{translate.currentLang=='ar'?'رقم الهاتف يجب ان يكون 11 رقم على الاقل':'Mobile must
                                    be
                                    at least 11 characters'}}
                                </div>
                                <div *ngIf="f['Mobile'].errors['maxlength']">
                                    {{translate.currentLang=='ar'?'رقم الهاتف يجب ان يكون 11 رقم على الاكثر':'Mobile
                                    must be
                                    at least 11 characters'}}
                                </div>

                                <div *ngIf="f['Mobile'].errors['pattern']">
                                    {{"MOBILEINVALID"|translate}}
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4" style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            <label class="form-label" for="form3Example3"></label>

                            <button *ngIf="sendAgainFlag==1" type="button" class="btn btn-sm btn-success"
                                (click)="sendActivationCode()">
                                {{"SENDCONFIRMATIONCODE"|translate}}
                                <span *ngIf="showSpinner==1" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            </button>

                            <label *ngIf="sendAgainFlag==0" style="margin-top: 40px;" for=" 
                            " class="form-label">{{timeLeft}} <span>{{"SECOND"|translate}}</span></label>
                        </div>


                    </div>

                    <!-- confirmation code input -->
                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">

                            {{"ENTERCONFIRMATIONCODE"|translate}}
                        </label>

                        <input type="text" formControlName="ConfirmationCode" id="form3Example4"
                            class="form-control form-control-sm" />

                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">

                            {{"ENTERNEWPASSWORD"|translate}}
                        </label>

                        <input type="password" formControlName="Password" id="form3Example4"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && f['Password'].errors }" />
                        <div *ngIf="(submitted && f['Password'].errors)" class="invalid-feedback">
                            <div *ngIf="f['Password'].errors['required']">
                                {{"ENTERPASSWORD"|translate}}
                            </div>
                            <div *ngIf="f['Password'].errors['minlength']">
                                {{translate.currentLang=='ar'?'كلمة المرور يجب ان يكون 8 رقم على الاقل':'Password must
                                be
                                at least 8 characters'}}
                            </div>
                            <div *ngIf="f['Password'].errors['pattern']">
                                {{translate.currentLang=='ar'?'أدخل على الاقل حرف كبيرواخر صغير و رقم ':' Use Strong
                                Password Upper Char (A) and Lower Char (a) and Numbers'}}
                            </div>
                        </div>

                    </div>
                    <!-- Password input confirm -->
                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">

                            {{"CONFIRMPASSWORD"|translate}}
                        </label>

                        <input type="password" formControlName="ConfirmPassword" id="form3Example4"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && f['ConfirmPassword'].errors }" />

                        <div *ngIf="(submitted && f['ConfirmPassword'].errors)" class="invalid-feedback">
                            <div *ngIf="f['ConfirmPassword'].errors['required']">
                                {{"CONFIRMPASSWORD"|translate}}
                            </div>
                            <div *ngIf="f['ConfirmPassword'].errors['minlength']">
                                {{translate.currentLang=='ar'?' تأكيد كلمة المرور يجب ان يكون 8 رقم على
                                الاقل':'ConfirmPassword must be
                                at least 8 characters'}}
                            </div>
                        </div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="button" class="btn btn-sm btn-success"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="resetUserPassword()">
                            {{"FORGETPASSWORDRESET"|translate}} </button>

                    </div>


                </form>
            </div>
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/assets/images/forget-password.png" style="height:300px ;width:200px" class="img-fluid"
                    alt="Sample image">
            </div>
        </div>
    </div>

</section>