/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(211, 211, 211); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(211, 211, 211); 
    border-radius: 10px;

  }
  body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(111, 201, 111); 
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Robot', sans-serif;
    background-color: #fafdff;
}

.toast {
    text-align: center;
    align-items: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
